img {
   width: 100%;
}

p {
    line-height: 2rem
}

header {
    padding-top: 20%;
}

.section {
    /* height: 100vh; */
    padding-top: 20%;
}

nav a {
    text-decoration: none;
    color: black
}
nav a:hover{
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
}

form {
    width : 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 5rem;
}

.contact {
    max-width: 768px;
    width: 100%;
    padding-top: 10%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden
}

.contact-form {
    justify-content: center;
    align-items: center;
    padding: 20px
}

  a img {
      transition: .5s
  }

  a img:hover {
    transform: scale(1.2);
    transition: .5s
  }

  .features {
    background-color: #444444
  }

  .card img {
      width :70px;
      height: 70px
  }

  #afterPic {
      display: none
  }

  footer {
      margin-top: 10%
  }

@media (max-width: 768px) {
    #beforePic, #callPic {
      display: none
    }

    #afterPic {
        display: block
    }

    button {
        width: 100%
    }  
    

    header {
        /* height: 100vh; */
        padding-top: 20%;
    }
    
    .pad {
        padding-top: 50px
    }

    form {
        width : 100%
    }

    .contact {
        padding-right: 0px;
        padding-left: 0px;
        height: 100vh;
        overflow-y: hidden
    }

    nav{
        padding: .5rem;
    }
    
}


@media (max-width: 320px) {
    body {
        overflow-y:visible
    }
}